h1 {
    color: green;
}
h2 {
    color: yellowgreen;
}
h3 {
    color: rebeccapurple;
}

or
h1, 
h2,
h3 {
    color: green;
}
a:hover {
    color: red;
    outline: 1px dotted green;
}

.my-element::after {
    content: 'prefix -';
}
::selection {
    background: black;
    color: white;
}

li::marker {
    color: red;
}